body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.category-aktif {
  background-color: rgba(3, 3, 46, 0.441);
  color: white;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media only screen and(max-weight:1000px) {
  .hasil {
    height: 650px;
  }

  .menu {
    height: 800px;
  }

  .total-harga {
    float: right;
  }

  .btn-bayar {
    display: block;
    float: right;
    margin: 10px 0px;
  }
}
.menu {
  height: 800px;
}

.hasil {
  height: 650px;
}

.overflow-auto::-webkit-scrollbar {
  display: none;
}
.total-bayar {
  float: right;
  margin-right: 5px;
  display: flex;
  display: block;
}

.btn-bayar {
  display: block;
  float: right;
  margin: 10px 0px;
}
